/* Add CSS Styling */
.odds {
    background-color: rgb(255, 192, 203);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}
#even2 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}
.odds_cooler {
    background-color: rgb(255, 192, 203);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    font-size: 24px;
}
#even4 {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}